
$material-design-icons-font-path: '../fonts/';
@import '../../../node_modules/material-design-icons-iconfont/dist/material-design-icons.scss';
@import 'theme/variables.scss';
@import 'functions.scss';

html {
  font-size: $font-size-base;
}

body {
  font-family: $font-family;
  background-color: $body-bg;
  margin: 0;
  position: relative;
  color: $text-color;
  line-height: $line-height-base;
}

a {
  text-decoration: none;
  color: $text-color;
  &:hover {
    color: darken(color($colors, 'primary'), 10%);
  }
}

header {
  box-shadow: 0 0 1px rgba(0,0,0,0.25);
  nav {
    padding: $padding-vertical-base 0;
    ul {
      li {
        a {
          cursor: pointer;
        }
        padding: 0 3rem 0;
        &.selected {
          border-bottom: 3px solid color($colors, 'primary');
          padding-bottom: $padding-vertical-base;
          a {
            color: color($colors, 'primary');
          }
        }
      }
    }
    .nav-bar {
      margin: 0;
      padding: 0;
      li {
        display: inline;
      }
    }

    .nav-bar-right {
      @extend .nav-bar;
      float: right;
    }
  }
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}
