
$material-design-icons-font-path: '../fonts/';
@import '../../../node_modules/material-design-icons-iconfont/dist/material-design-icons.scss';
@import 'theme/variables.scss';
@import 'functions.scss';

html {
  font-size: $font-size-base;
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  min-height: 100%;
  font-family: $font-family;
  background-color: $body-bg;
  margin: 0;
  position: relative;
  color: $text-color;
  line-height: $line-height-base;
}

#app {
  min-height: 100%;
  padding-bottom: $footer-height + 30px;
}

a {
  text-decoration: none;
  color: $text-color;
  &:hover {
    color: darken(color($colors, 'primary'), 10%);
  }
}

img {
  max-width: 100%;
}

header {
  box-shadow: 0 0 1px rgba(0,0,0,0.25);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  section {
    h1 {
      text-align: center;
    }
  }
}

.top-marged {
  margin-top: 2rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.text-center {
  text-align: center;
}

.bold {
  font-weight: bold;
}

.col-sm-1 {
  width: 8.333%;
}

.col-sm-2 {
  width: 16.666%;
}

.col-sm-3 {
  width: 25%;
}

.col-sm-4 {
  width: 33.333%;
}

.col-sm-5 {
  width: 41.666%;
}

.col-sm-6 {
  width: 50%;
}

.col-sm-7 {
  width: 58.333%;
}

.col-sm-8 {
  width: 66.666%;
}

.col-sm-9 {
  width: 75%;
}

.col-sm-10 {
  width: 83.333%;
}

.col-sm-11 {
  width: 91.666%;
}

.col-sm-12 {
  width: 100%;
}

.offset-sm-0 {
  margin-left: 0;
}

.offset-sm-1 {
  margin-left: 8.333333%;
}

.offset-sm-2 {
  margin-left: 16.666667%;
}

.offset-sm-3 {
  margin-left: 25%;
}

.offset-sm-4 {
  margin-left: 33.333333%;
}

.offset-sm-5 {
  margin-left: 41.666667%;
}

.offset-sm-6 {
  margin-left: 50%;
}

.offset-sm-7 {
  margin-left: 58.333333%;
}

.offset-sm-8 {
  margin-left: 66.666667%;
}

.offset-sm-9 {
  margin-left: 75%;
}

.offset-sm-10 {
  margin-left: 83.333333%;
}

.offset-sm-11 {
  margin-left: 91.666667%;
}

@media screen and (min-width: $md-breakpoint) {
  .container {
    section {
      padding-top: 40px;
    }
  }

  .top-marged {
    margin-top: 5rem;
  }

  .bottom-marged {
    margin-top: 5rem;
  }

  .right-padded {
    padding-left: 3rem;
  }

  .bottom-padded {
    padding-bottom: 3rem;
  }

  .col-md-1 {
    width: 8.333%;
  }

  .col-md-2 {
    width: 16.666%;
  }

  .col-md-3 {
    width: 25%;
  }

  .col-md-4 {
    width: 33.333%;
  }

  .col-md-5 {
    width: 41.666%;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-7 {
    width: 58.333%;
  }

  .col-md-8 {
    width: 66.666%;
  }

  .col-md-9 {
    width: 75%;
  }

  .col-md-10 {
    width: 83.333%;
  }

  .col-md-11 {
    width: 91.666%;
  }

  .col-md-12 {
    width: 100%;
  }

  .offset-md-0 {
    margin-left: 0;
  }

  .offset-md-1 {
    margin-left: 8.333333%;
  }

  .offset-md-2 {
    margin-left: 16.666667%;
  }

  .offset-md-3 {
    margin-left: 25%;
  }

  .offset-md-4 {
    margin-left: 33.333333%;
  }

  .offset-md-5 {
    margin-left: 41.666667%;
  }

  .offset-md-6 {
    margin-left: 50%;
  }

  .offset-md-7 {
    margin-left: 58.333333%;
  }

  .offset-md-8 {
    margin-left: 66.666667%;
  }

  .offset-md-9 {
    margin-left: 75%;
  }

  .offset-md-10 {
    margin-left: 83.333333%;
  }

  .offset-md-11 {
    margin-left: 91.666667%;
  }
}

@media screen and (min-width: $lg-breakpoint) {
  .col-lg-1 {
    width: 8.333%;
  }

  .col-lg-2 {
    width: 16.666%;
  }

  .col-lg-3 {
    width: 25%;
  }

  .col-lg-4 {
    width: 33.333%;
  }

  .col-lg-5 {
    width: 41.666%;
  }

  .col-lg-6 {
    width: 50%;
  }

  .col-lg-7 {
    width: 58.333%;
  }

  .col-lg-8 {
    width: 66.666%;
  }

  .col-lg-9 {
    width: 75%;
  }

  .col-lg-10 {
    width: 83.333%;
  }

  .col-lg-11 {
    width: 91.666%;
  }

  .col-lg-12 {
    width: 100%;
  }

  .offset-lg-0 {
    margin-left: 0;
  }

  .offset-lg-1 {
    margin-left: 8.333333%;
  }

  .offset-lg-2 {
    margin-left: 16.666667%;
  }

  .offset-lg-3 {
    margin-left: 25%;
  }

  .offset-lg-4 {
    margin-left: 33.333333%;
  }

  .offset-lg-5 {
    margin-left: 41.666667%;
  }

  .offset-lg-6 {
    margin-left: 50%;
  }

  .offset-lg-7 {
    margin-left: 58.333333%;
  }

  .offset-lg-8 {
    margin-left: 66.666667%;
  }

  .offset-lg-9 {
    margin-left: 75%;
  }

  .offset-lg-10 {
    margin-left: 83.333333%;
  }

  .offset-lg-11 {
    margin-left: 91.666667%;
  }
}
