
$material-design-icons-font-path: '../fonts/';
@import '../../../node_modules/material-design-icons-iconfont/dist/material-design-icons.scss';
@import 'theme/variables.scss';
@import 'functions.scss';

html {
  font-size: $font-size-base;
}

body {
  font-family: $font-family;
  background-color: $body-bg;
  margin: 0;
  position: relative;
  color: $text-color;
  line-height: $line-height-base;
}

a {
  text-decoration: none;
  color: $text-color;
  &:hover {
    color: darken(color($colors, 'primary'), 10%);
  }
}

header {
  box-shadow: 0 0 1px rgba(0,0,0,0.25);
  .menu-toggle {
    display: none;
  }
  nav {
    padding: $padding-vertical-base 0;
    .nav-bar {
      margin: 0;
      padding: 0;
      li {
        display: inline;
        padding: 0 3rem 0;
        a {
          cursor: pointer;
        }
        &.selected {
          border-bottom: 3px solid color($colors, 'primary');
          padding-bottom: $padding-vertical-base;
          a {
            color: color($colors, 'primary');
          }
        }
      }
    }

    .nav-bar-right {
      @extend .nav-bar;
      float: right;
    }
  }
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

@media screen and (max-width: 549px) {
  header {
    .menu-toggle {
      display: block;
      position: absolute;
      font-size: 2.1rem;
      top: $padding-vertical-base;
      left: $padding-horizontal-base;
    }
    nav {
      width: 300px;
      background-color: white;
      margin-top: 1px;
      position: absolute;
      transform: translate(-300px, 0);
      -webkit-transform: translate(-300px, 0);
      transition: transform 0.3s ease;
      &.open {
        transform: translate(0, 0);
        -webkit-transform: translate(0, 0);
      }
      .nav-bar {
        margin: 0;
        padding: 0;
        li {
          padding: 0;
          text-align: left;
          a {
            display: block;
            padding: 10px 15px;
          }
          display: list-item;
          &.selected {
            border-bottom: none;
            padding-bottom: 0;
            a {
              color: color($colors, 'primary');
            }
          }
        }
      }
    }
  }
}
